base:
  schedulerPeriod: 3600s

chain:
  cosmos:
    enable: true
    api:
      endpoint: "/cosmos/gov/v1beta1/proposals"
      nodepool:
      - https://node.atomscan.com
      retry: 5
      timeout: 10s
    messageStructure:
      name:
        const: "Cosmos"
      proposalId:
        jsonPath: "proposal.proposal_id"
      title:
        jsonPath: "proposal.content.title"
      status:
        jsonPath: "proposal.status"
      type:
        jsonPath: "proposal.content.@type"
      startTime:
        jsonPath: "proposal.voting_start_time"
      endTime:
        jsonPath: "proposal.voting_end_time"
      viewLink:
        const: "https://www.mintscan.io/cosmos/proposals"
  juno:
    enable: true
    api:
      endpoint: "/cosmos/gov/v1beta1/proposals"
      nodepool:
      - https://lcd-juno.itastakers.com
      - https://rest-juno.ecostake.com
      retry: 5
      timeout: 10s
    messageStructure:
      name:
        const: "Juno"
      proposalId:
        jsonPath: "proposal.proposal_id"
      title:
        jsonPath: "proposal.content.title"
      status:
        jsonPath: "proposal.status"
      type:
        jsonPath: "proposal.content.@type"
      startTime:
        jsonPath: "proposal.voting_start_time"
      endTime:
        jsonPath: "proposal.voting_end_time"
      viewLink:
        const: "https://www.mintscan.io/juno/proposals"

target:
  telegram:
    enable: true
    token: "your-bot-secret-token"
    channelId: 0

repository:
  postgresql:
    enable: true
    address: autonotif-postgres
    database: autonotif
    username: autonotif_usr
    password: autonotif_pwd
  localfile:
    enable: false
    dir: ./tmp/autonotif-db/
